---
layout: default
title: Wanderlost + Found
sidebar: true
pagetitle: true
main-menu: false
blog-menu: true
top-ig: true
hero: true
---
<div class="padded3">
  <section class="grid-center-noGutter-spaceBetween">
    <div class="col-12 grid-middle-center-spaceBetween-noGutter catpreview">
      <div class="col-4">
        <p class="padded1">Wanderlost In</p>
      </div>
      <div class="col-4-middle-center-noGutter">
        <div class="right">
        <a href="/wanderlost/in"><span class="underline">Get Wanderlost in More Destinations</span></a>
      </div>
      </div>
    </div>

    {% for post in site.tags.Destinations limit:3 %}
        <div class="col-3_xs-12  post-preview">
          <!-- <p>{{post.date | date_to_long_string}}</p> -->
          <a href="{{post.url}}">
            <div class="post-preview" style="background-image:url('{{post.featured-image}}')" />
          </div>
          </a>
          <h5 class="padded1">{{post.title}}</h5>
          <p class="descript padded1">{{post.description}}</p>
          <div class="readmore">
            <a href="{{post.url}}">Read More</a>
          </div>
        </div>
    {% endfor %}
  </section>

  <section class="grid-center-noGutter-spaceBetween">
    <div class="col-12 grid-middle-center-spaceBetween-noGutter catpreview">
      <div class="col-4">
        <p class="padded1">Travel Tips</p>
      </div>
      <div class="col-4-middle-center-noGutter">
        <div class="right">
        <a href="/wanderlost/travel-tips"><span class="underline">Get More Travel Tips</span></a>
      </div>
      </div>
    </div>

    {% for post in site.tags.Tips limit:3 %}
        <div class="col-3_xs-12 post-preview">
          <!-- <p>{{post.date | date_to_long_string}}</p> -->
          <a href="{{post.url}}">
            <div class="post-preview" style="background-image:url('{{post.featured-image}}')" />
          </div>
          </a>
          <h5 class="padded1">{{post.title}}</h5>
          <p class="descript padded1">{{post.description}}</p>
          <div class="readmore">
            <a href="{{post.url}}">Read More</a>
          </div>
        </div>
    {% endfor %}
  </section>

  <section class="grid-center-noGutter-spaceBetween">
    <div class="col-12 grid-middle-center-spaceBetween-noGutter catpreview">
      <div class="col-4">
        <p class="padded1">Editorial</p>
      </div>
      <div class="col-4-middle-center-noGutter">
        <div class="right">
        <a href="/wanderlost/extras"><span class="underline">See More in Editorial</span></a>
      </div>
      </div>
    </div>

    {% for post in site.tags.Editorial limit:3 %}
        <div class="col-3_xs-12 post-preview">
          <!-- <p>{{post.date | date_to_long_string}}</p> -->
          <a href="{{post.url}}">
            <div class="post-preview" style="background-image:url('{{post.featured-image}}')" />
          </div>
          </a>
          <h5 class="padded1">{{post.title}}</h5>
          <p class="descript padded1">{{post.description}}</p>
          <div class="readmore">
            <a href="{{post.url}}">Read More</a>
          </div>
        </div>
    {% endfor %}
  </section>

</div>
