---
layout: default
title: Wanderlost + Found
sidebar: false
pagetitle: false
main-menu: true
blog-menu: false
---

{% include ig.html %}

<section class="welcome">
  <p class="welcome-title">hello!</p>
  <p class="welcome-subhead">welcome to wanderlost + found</p>
</section>

{% include hero.html %}

<section class="grid-middle-center-spaceAround-noGutter img-home">
  <div class="position-relative background-black">
    <div class="blog-background position-absolute"></div>
    <a href="/blog" class="grid-middle-center-noGutter bg-blog position-relative">
      <p class="default-text">Blog</p>
      <p class="hover-text">Get Wanderlost</p>
    </a>
  </div>
  <div class="position-relative background-black">
    <div class="about-background position-absolute"></div>
    <a href="/mystory" class="grid-middle-center-noGutter bg-about position-relative">
      <p class="default-text">My Story</p>
      <P class="hover-text">Read More</p>
    </a>
  </div>
  <div class="position-relative background-black">
    <div class="shop-background position-absolute"></div>
    <a href="shop" class="grid-middle-center-noGutter bg-shop position-relative">
      <p class="default-text">Shop</p>
      <p class="hover-text">Goodies</p>
    </a>
  </div>
</section>
