---
layout: default
title: Wanderlost + Found
sidebar: false
pagetitle: false
main-menu: true
blog-menu: false
---

{% include ig.html %}

<section>
  <p class="welcome-title">hello!</p>
  <p class="welcome">welcome to wanderlost + found</p>
</section>

{% include hero.html %}

<section class="grid-middle-center-noGutter center">
  <div class="col">
  </div>
  <div class="col-3_sm-12 grid-middle-center-noGutter main-categories">
    <h3>Blog</h3>
  </div>
  <div class="col-3_sm-12 grid-middle-center-noGutter main-categories">
    <h3>My Story</h3>
  </div>
  <div class="col-3_sm-12 grid-middle-center-noGutter main-categories">
    <h3>Shop</h3>
  </div>
  <div class="col">
  </div>
</section>

</section>
