---
layout: default
title: Wanderlost In
sidebar: true
pagetitle: true
main-menu: false
blog-menu: true
continents:
 - name: africa
 - name: asia
 - name: europe
 - name: northamerica
 - name: oceania
 - name: southamerica

---
<section>
  <div class="interactive-map">
    INTERACTIVE MAP PLACEHOLDER
  </div>
  <div>
    <p>Click on the map above to explore blog posts from a country, OR, explore by continent below:</p>
  </div>
</section>

<section class="grid-center-noGutter">
  {% for continent in page.continents %}
    <div class="col-12 grid-middle-spaceBetween-noGutter category-title">
      <div class="col-4">
        <p>{{continents.name}}</p>
      </div>
      <div class="col-4">
        <a href="/categories/{{continents.name}}">more about {{continents.name}}</a>
      </div>
    </div>
    <div class="col">
    </div>

    {% for post in site.categories.{{continents.name}} limit:3 %}
      <div class="col-3 post-preview">
        <p>{{post.date | date_to_long_string}}</p>
        <img src="{{post.featured-image}}" />
        <h3>{{post.title}}</h3>
        <p>{{post.description}}</p>
        <a href="{{post.url}}">Read More</a>
      </div>
    {% endfor %}

    <div class="col">
    </div>

  {% endfor %}
</section>
