<div class="padded8lr">

  <script type="text/javascript">
  var map = AmCharts.makeChart("mapdiv2",{
  type: "map",
  theme: "dark",
  projection: "miller",
  panEventsEnabled : true,
  backgroundColor : "#ffffff",
  backgroundAlpha : 1,
  zoomControl: {
  zoomControlEnabled : true
  },
  dataProvider : {
  map : "worldLow",
  getAreasFromMap : true,
  areas :
  [
  	{
  		"id": "CA",
  		"showAsSelected": true,
      "url": "/tag/canada"
  	},
  	{
  		"id": "TH",
  		"showAsSelected": true,
      "url": "/tag/thailand"
  	},
    {
  		"id": "AU",
  		"showAsSelected": true,
      "url": "/tag/australia"
  	},
  ]
  },
  areasSettings : {
  autoZoom : false,
  color : "#d8d4d3",
  colorSolid : "#ccaaa3",
  selectedColor : "#ccaaa3",
  outlineColor : "#413b3a",
  rollOverColor : "#d8d4d3",
  rollOverOutlineColor : "#413b3a"
  }
  });
  </script>



<div id="mapdiv2"></div>
</div>
