<header class="grid-middle-center-noGutter headerMain">
  <div class="col-3 grid-middle-center-noGutter logo">
    <a href="/"><h3> WANDERLOST + FOUND</h3></a>
  </div>
  <div class="col">
  </div>
  <nav class="col-6 grid-middle-spaceBetween-noGutter mainMenu center">
    <a href="/blog">Blog</a>
    <span class="dropdown-nav">
      <a href="/wanderlost/in">Wanderlost In</a>
      <div class="dropdown-content">
        <a href="/category/africa">Africa</a>
        <a href="/category/asia">Asia</a>
        <a href="/category/europe">Europe</a>
        <a href="/category/north-america">North America</a>
        <a href="/category/oceania">Oceania</a>
        <a href="/category/south-america">South America</a>
      </div>
    </span>
    <span class="dropdown-nav">
      <a href="/wanderlost/travel-tips">Travel Tips</a>
        <div id="navtraveltips" class="dropdown-content">
          <a href="/tag/how-tos">How Tos</a>
          <a href="/tag/recommendations">Recommendations</a>
          <a href="/tag/tips-tricks">Tips & Tricks</a>
          <a href="/tag/photography">Photography</a>
        </div>
      </span>
      <!-- <span class="dropdown-nav">
      <a href="/categories/inspiration">Inspiration</a>
        <div class="dropdown-content">
          <a href="/galleries">Galleries</a>
          <a href="#">Placeholder</a>
          <a href="#">Placeholder</a>
        </div>
      </span> -->
      <span class="dropdown-nav">
      <a href="/wanderlost/extras">Extras</a>
        <div id="navextras" class="dropdown-content">
          <a href="/tag/on-my-mind">On My Mind</a>
          <a href="/tag/lists">Lists</a>
          <a href="/tag/freebies">Freebies</a>
          <a href="/tag/resources">Resources</a>
        </div>
      </span>
      <span class="dropdown-nav">
      <a href="/mystory">About</a>
        <div id="navabout" class="dropdown-content">
          <a href="/mystory">My Story</a>
          <a href="/contact">Contact Me</a>
          <a href="/work-with-me">Work With Me</a>
          <a href="#">Media Kit</a>
        </div>
      </span>
      <!-- <a href="/shop">Shop</a> -->
  </nav>
  <!-- <div class="col-1 grid-middle-center-noGutter cartIcon">
    <a href="#"><i class="fas fa-shopping-cart"></i></a>
  </div> -->
</header>
