<div class="grid-center-noGutter connectIcons center">
  <p class="blocktitle">Connect With Me</p>
  <div class="grid-middle-center-noGutter">
    <p class="col-4">
      <a href="http://www.facebook.com/wanderlost.and.found"><i class="fab fa-facebook"></i></a>
    </p>
    <p class="col-4">
      <a href="http://www.instagram.com/wanderlost.and.found"><i class="fab fa-instagram"></i></a>
    </p>
    <p class="col-4">
      <a href="http://www.pinterest.com/wanderlostfound/boards/"><i class="fab fa-pinterest"></i></a>
    </p>
    <p class="col-4">
      <a href="http://www.bloglovin.com/@wanderlostandfound"><i class="fas fa-plus"></i></a>
    </p>
    <p class="col-4">
      <a href="mailto:hello@getwanderlostandfound.com?Subject=Hello" target="_top"><i class="fas fa-envelope"></i></a>
    </p>
    <p class="col-4">
      <a href="http://twitter.com/WanderlostFound"><i class="fab fa-twitter"></i></a>
    </p>
  </div>
</div>
