<footer class="grid-center-spaceBetween">
  <div class="col-2 copyright">
    <h5><i class="far fa-copyright"></i> Copyright and Disclosure</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="col-4-center-noGutter explore-map">
    {% include exploring.html %}
  </div>
  <div class="col">
    <div class="grid-center-noGutter">
      <div id="search" class="col-12">
        {% include search.html %}
      </div>
      <div class="col-12 buttons center">
        <p><a href="/work-with-me.html">Work With Me</a></p>
      </div>
      <div class="col-12 buttons center">
        <p><a href="#">Media Kit</a></p>
      </div>
    </div>
  </div>

  <div class="col-3">
  <div class="grid-center-noGutter connectIcons center">
    <p class="blocktitle">Connect With Me</p>
    <div class="grid-middle-center-noGutter">
      <p class="col-4">
        <a href="http://www.facebook.com/wanderlost.and.found"><i class="fab fa-facebook"></i></a>
      </p>
      <p class="col-4">
        <a href="http://www.instagram.com/wanderlost.and.found"><i class="fab fa-instagram"></i></a>
      </p>
      <p class="col-4">
        <a href="http://www.pinterest.com/wanderlostfound/boards/"><i class="fab fa-pinterest"></i></a>
      </p>
      <p class="col-4">
        <a href="http://www.bloglovin.com/@wanderlostandfound"><i class="fas fa-plus"></i></a>
      </p>
      <p class="col-4">
        <a href="mailto:hello@getwanderlostandfound.com?Subject=Hello" target="_top"><i class="fas fa-envelope"></i></a>
      </p>
      <p class="col-4">
        <a href="http://twitter.com/WanderlostFound"><i class="fab fa-twitter"></i></a>
      </p>
    </div>
  </div>
  </div>
  </footer>
