<footer>
  <div class="grid-center-spaceAround">

    <div class="col-3">
      <div class="grid-center-noGutter">
        <div id="search" class="col-12">
          {% include search.html %}
        </div>
        <div class="col-12 buttons center">
          <p><a href="/work-with-me.html">Work With Me</a></p>
        </div>
        <div class="col-12 buttons center">
          <p><a href="/media-kit.html" target="_blank">Media Kit</a></p>
        </div>

      </div>
    </div>
    <div class="col-4-center-noGutter explore-map">
      {% include exploring.html %}
    </div>

    <div class="col-3">
      {% include connectwithme.html %}
    </div>
  </div>
  <div class="center copyright">
    <p>© Jennifer Simpson/Wanderlost + Found, 2018.</p>
  </div>
  </footer>
