<footer class="grid-noGutter">
  <div class="col-2">
    <h5><i class="far fa-copyright"></i> Copyright and Disclosure</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="col-3">
    <p>currently exploring if i can get the map to work</p>
  </div>
  <div class="grid col-2">
    <div class="col-12">
    </div>
    <div class="col-12 sidebarButtons center">
      <p><a href="/work-with-me.html">Work With Me Button</a></p>
    </div>
  </div>
  <div class="grid col-2">
    <div id="search" class="col-12">
      <p class="blocktitle">SEARCH</p>
      <form>
        <input placeholder="Search" type="text">
      </form>
    </div>
    <div class="col-12 sidebarButtons center">
      <p><a href="#">Media Kit</a></p>
    </div>
  </div>
  <div class="col-3 connectIcons center">
    <p class="blocktitle">Connect With Me</p>
    <p>
      <a href="http://www.facebook.com/wanderlost.and.found"><i class="fab fa-facebook"></i></a>
      <a href="http://www.instagram.com/wanderlost.and.found"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-pinterest"></i></a>
    </p>
    <p>
      <a href="#"><i class="fas fa-plus"></i></a>
      <a href="#"><i class="fas fa-envelope"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </p>
  </div>
  </footer>
