<header class="grid-middle-noGutter headerMain">
  <div class="col-3 grid-middle-center logo">
    <a href="/"><h6>WANDERLOST + FOUND</h6></a>
  </div>
  <div class="col">
  </div>
  <nav class="col-6_xs-8 grid-middle-spaceBetween noGutter mainMenu">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <span class="dropdown-nav">
      <a href="/mystory">About</a>
        <div id="navabout" class="dropdown-content">
          <a href="/mystory">My Story</a>
          <a href="/contact">Contact Me</a>
        </div>
    </span>
    <span class="dropdown-nav">
      <a href="/work-with-me">Collaborate</a>
        <div id="navcollab" class="dropdown-content">
          <a href="/work-with-me">Work With Me</a>
          <a href="/media-kit.html" target="_blank">Media Kit</a>
        </div>
    </span>
    <!-- <a href="/shop"> Shop </a> -->
  </nav>
  <!-- <div class="col-1 grid-middle-center-noGutter cartIcon">
    <a href="/shop"><i class="fas fa-shopping-cart"></i></a>
  </div> -->
</header>
