<header class="grid-middle-center-noGutter headerMain">
  <div class="col-3 grid-middle-center logo">
    <a href="/"><h2>WANDERLOST + FOUND</h2></a>
  </div>
  <div class="col">
  </div>
  <nav class="col-4 grid-middle-center-noGutter mainMenu center">
    <a href="/">Home</a>
  <span class="dropdown-nav">
    <a href="/mystory"> About </a>
      <div class="dropdown-content">
        <a href="/mystory">My Story</a>
        <a href="/contact">Contact Me</a>
        <a href="/work-with-me">Work With Me</a>
        <a href="#">Media Kit</a>
      </div>
  </span>
    <a href="/blog"> Blog </a>
    <!-- <a href="/shop"> Shop </a> -->
  </nav>
  <!-- <div class="col-1 grid-middle-center-noGutter cartIcon">
    <a href="/shop"><i class="fas fa-shopping-cart"></i></a>
  </div> -->
</header>
