<div class="grid-center padded3">
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/IMG_2978.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/SunriseAgung.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/Rice.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/TheLawn.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/Tegallalang2.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/MaligneLake.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/Flute.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item" style="background-image:url(/Images/Giraffe.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/PaddleBoats.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/IMG_3394.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/Rockies.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/Seals.jpg)">
    </div>
  </div>
</div>
