<div class="grid-center padded3">
  <div class="col-3_sm-6_xs-12">
    <div class="gallery-item" style="background-image:url(/Images/polaroid.jpg)">
    </div>
  </div>
  <div class="col-3_sm-6_xs-12">
    <div class="gallery-item" style="background-image:url(/Images/agung.jpg)">
    </div>
  </div>
  <div class="col-3_sm-6_xs-12">
    <div class="gallery-item" style="background-image:url(/Images/profile.jpg)">
    </div>
  </div>
  <div class="col-3_sm-6_xs-12">
    <div class="gallery-item" style="background-image:url(/Images/blog.jpg)">
    </div>
  </div>
  <div class="col-3_sm-6_xs-12">
    <div class="gallery-item" style="background-image:url(/Images/door.jpg)">
    </div>
  </div>
  <div class="col-3_sm-6_xs-12">
    <div class="gallery-item" style="background-image:url(/Images/travel-plan.jpg)">
    </div>
  </div>
  <div class="col-3_sm-6_xs-12">
    <div class="gallery-item" style="background-image:url(/Images/desert.jpg)">
    </div>
  </div>
  <div class="col-3_sm-6_xs-12">
    <div class="gallery-item" style="background-image:url(/Images/moraine.jpg)">
    </div>
  </div>
  <div class="col-3_sm-6_xs-12">
    <div class="gallery-item" style="background-image:url(/Images/moraine.jpg)">
    </div>
  </div>
  <div class="col-3_sm-6_xs-12">
    <div class="gallery-item" style="background-image:url(/Images/moraine.jpg)">
    </div>
  </div>
  <div class="col-3_sm-6_xs-12">
    <div class="gallery-item" style="background-image:url(/Images/moraine.jpg)">
    </div>
  </div>
  <div class="col-3_sm-6_xs-12">
    <div class="gallery-item" style="background-image:url(/Images/moraine.jpg)">
    </div>
  </div>
</div>
