<div class="grid-center padded3">
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/pastelWave.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/rottnestTrain.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/Rice.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/TheLawn.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/Tegallalang2.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/balloons.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/Flute.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item" style="background-image:url(/Images/Giraffe.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/fafa_night.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/whiteCar.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/IMG_3394.jpg)">
    </div>
  </div>
  <div class="col-3_sm-4_xs-6">
    <div class="gallery-item editable" style="background-image:url(/Images/aoraki.jpg)">
    </div>
  </div>
</div>
