---
layout: default
---

  <body>
    {% include blog-menu.html %}
    {% include ig.html %}

    {% if page.type == 'category' %}
      <h1>Wanderlost in {{page.title}}</h1>
      {% else %}
      <h1>{{page.title}}</h1>
    {% endif %}
    <div class="grid-noGutter">
      <div class="col">
        {% include cat-postpreview.html %}
      </div>
      {% include sidebar.html %}
    </div>

    {% include mailing-list.html %}
    {% include ig.html %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
