<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115008219-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115008219-1');
    </script>

    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="/Styles/gridlex.css">
    <link rel="stylesheet" type="text/css" href="/Styles/styles.css">

  </head>

  <body>
  {% if page.main-menu == true %}
    {% include main-menu.html %}
  {% endif %}

  {% if page.blog-menu == true %}
    {% include blog-menu.html %}
  {% endif %}

  {% if page.top-ig == true %}
    {% include ig.html %}
  {% endif %}

  {% if page.hero == true %}
    {% include hero.html %}
  {% endif %}

  {% if page.pagetitle == true %}
    {% include pagetitle.html %}
  {% endif %}

  <div class="grid-noGutter">
    <div class="col">
      {{content}}
    </div>

  {% if page.sidebar == true %}
    {% include sidebar.html %}
  {% endif %}

  </div>

  {% include mailing-list.html %}

  {% include ig.html %}

  {% if page.sidebar == false %}
    {% include footer.html %}
  {% endif %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/js/main.js"></script>

  </body>
</html>
