<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wanderlost + Found</title>
    <link rel="stylesheet" type="text/css" href="/Styles/gridlex.css">
    <link rel="stylesheet" type="text/css" href="/Styles/styles.css">
  </head>

  <body>
    <header class="grid headerMain">
      <div class="col-3 logo">
        <h2>WANDERLOST + FOUND</h2>
      </div>
      <div class="col-4">
      </div>
      <nav class="col-4 mainMenu">
        <a href="#"> Home </a>
        <a href="#"> About </a>
        <a href="#"> Blog </a>
        <a href="#"> Shop </a>
      </nav>
      <div class="col-1 cartIcon">
        CART ICON PLACEHOLDER
      </div>
    </header>
    <section>
      <div>
        IG PLACEHOLDER
      </div>
    </section>
    <section>
      <div class="pageTitle">
        <h2>Hello! Welcome to Wanderlost + Found</h2>
      </div>
    </section>
    <section class="homeBanner">
      <div>
        <h1>WANDERLOST + FOUND</h1>
        <h4>LOST x FOUND x WANDER x ASTOUND</h4>
      </div>
    </section>
    <section class="grid">
      <div class="col">
      </div>
      <div class="col-3">
        <p>Blog</p>
      </div>
      <div class="col-3">
          <p>My Story</p>
      </div>
      <div class="col-3">
        <p>Shop</p>
      </div>
      <div class="col">
      </div>
    </section>
    <section class="grid mailingList">
      <div class="spaceAround-center">
        <p>Join the Mailing List!</p>
      </div>
      <div>
        <form>
          <input placeholder="email" type="email">
          <input type="submit" value="SUBSCRIBE">
        </form>
      </div>
    </section>
    <section>
      <div>
        IG PLACEHOLDER
      </div>
    </section>
    <footer class="grid">
      <div class="col-3 copyright">
        <p>copyright and disclosure statement regarding use of affiliate links</p>
      </div>
      <div class="col-3 exploring">
        CURRENTLY EXPLORING world map placeholder
      </div>
      <div class="grid col-4">
        <div class="col-2">
        </div>
        <div class="col-2 search">
          Search Box
        </div>
        <div class="col-2 footerWorkMedia">
          <p>Work With Me</p>
        </div>
        <div class="col-2 footerWorkMedia">
          <p>Media Kit</p>
        </div>
        <div class="col-2 social">
          <p>Connect With Me</p><br>
          Social Media Icons
        </div>
      </div>
    </footer>

  </body>
</html>
