<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115008219-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115008219-1');
    </script>

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway400" rel="stylesheet">
    <title>{{page.title}}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" type="text/css" href="/Styles/gridlex.css">
    <link rel="stylesheet" type="text/css" href="/Styles/styles.css">
    <meta name="viewport" content="width=device-width, user-scalable=0">


  </head>

  <body>

    <div class="grid-noGutter">
      <div class="col">
        {{content}}
      </div>
    </div>



  </body>
</html>
