---
layout: categories
title: Editorial
sidebar: true
pagetitle: true
main-menu: false
blog-menu: true
top-ig: true
hero: false
editorials:
  - name: On My Mind
    cat: on-my-mind
  - name: Lists
    cat: lists
  - name: Freebies
    cat: freebies
  - name: Resources
    cat: resources
---

<div class="padded3">
  <section class="grid-center-noGutter-spaceBetween">
    {% for category in page.editorials %}
      <div class="col-12 grid-middle-center-spaceBetween-noGutter catpreview">
        <div class="col-4_xs-6">
          <p class="padded1">{{category.name}}</p>
        </div>
        <div class="col-4_xs-6-middle-center-noGutter">
          <div class="right">
          <a href="/tag/{{category.cat}}"><span class="underline">see all from {{category.name}}</span></a>
        </div>
        </div>
      </div>


      {% for post in site.tags[category.name] limit:3 %}
          <div class="col-3_xs-12 post-preview">
            <!-- <p>{{post.date | date_to_long_string}}</p> -->
            <a href="{{post.url}}">
              <div class="post-preview" style="background-image:url('{{post.featured-image}}')" />
            </div>
            </a>
            <h5 class="padded1">{{post.title}}</h5>
            <p class="descript padded1">{{post.description}}</p>
            <div class="readmore">
              <a href="{{post.url}}">Read More</a>
            </div>
          </div>
      {% endfor %}



      {% endfor %}
    </section>
  </div>
