---
layout: default
title: Wanderlost In
sidebar: true
pagetitle: true
main-menu: false
blog-menu: true
continents:
 - name: Africa
   cat: africa
 - name: Asia
   cat: asia
 - name: Europe
   cat: europe
 - name: North America
   cat: north-america
 - name: Oceania
   cat: oceania
 - name: South America
   cat: south-america
---
<section>
  <div class="interactive-map">
    INTERACTIVE MAP PLACEHOLDER
  </div>
  <div>
    <p>Click on the map above to explore blog posts from a country, OR, explore by continent below:</p>
  </div>
</section>

<section class="grid-center-noGutter-spaceBewteen">
  {% for continent in page.continents %}
    <div class="col-12 grid-middle-spaceBetween-noGutter category-title">
      <div class="col-4">
        <p>{{continent.name}}</p>
      </div>
      <div class="col-4">
        <!-- {% if continent.empty == true %} -->
        <p></p>
        <!-- {% else %} -->
        <a href="/category/{{continent.cat}}">see all about {{continent.name}}</a>
        <!-- {% endif %} -->
      </div>
    </div>

    {% for post in site.categories[continent.name] limit:3 %}
        <!-- {% if continent.empty == true %} -->
        <!-- <div class="nopost">
          <p>There are no posts about {{continent.name}}. Would you like to <a href="/contact">contribute </a>here?</p>
        </div>
        {% else %} -->
        <div class="col-3 post-preview">
          <p>{{post.date | date_to_long_string}}</p>
          <img src="{{post.featured-image}}" />
          <h3>{{post.title}}</h3>
          <p>{{post.description}}</p>
          <a href="{{post.url}}">Read More</a>
        </div>
        <!-- {% endif %} -->
    {% endfor %}



  {% endfor %}
</section>
