---
layout: default
title: Wanderlost In
sidebar: false
pagetitle: true
main-menu: false
blog-menu: true
top-ig: true
continents:
 - name: Africa
   cat: africa
 - name: Asia
   cat: asia
 - name: Europe
   cat: europe
 - name: North America
   cat: north-america
 - name: Oceania
   cat: oceania
 - name: South America
   cat: south-america
---
<div class="padded3">
  <section>
  <!-- <div class="interactive-map center">
    <h4>INTERACTIVE MAP PLACEHOLDER</h4>
  </div> -->
  {% include blogmap.html %}
  <div class="interactive-map">
    <p class="editable contact-text center">Click on highlighted countries in the map above to explore blog posts, OR, explore by continent below:</p>
  </div>
</section>

<section class="padded6lr">
  <section class="grid-center-noGutter-spaceBetween">
    {% for continent in page.continents %}
      <div class="col-12 grid-middle-center-spaceBetween-noGutter catpreview">
        <div class="col-4_xs-6">
          <p class="padded1">{{continent.name}}</p>
        </div>
        <div class="col-4_xs-6-middle-center-noGutter">
          <div class="right">
          <a href="/category/{{continent.cat}}"><span class="underline">see all about {{continent.name}}</span></a>
        </div>
        </div>
      </div>


      {% for post in site.categories[continent.name] limit:3 %}
          <div class="col-3 post-preview">
            <!-- <p>{{post.date | date_to_long_string}}</p> -->
            <a href="{{post.url}}">
              <div class="post-preview" style="background-image:url('{{post.featured-image}}')" />
            </div>
            </a>
            <h5 class="padded1">{{post.title}}</h5>
            <p class="descript padded1">{{post.description}}</p>
            <div class="readmore">
              <a href="{{post.url}}">Read More</a>
            </div>
          </div>
      {% endfor %}



      {% endfor %}
    </section>
  </section>
</div>
