/* ----- CSS RESET -----*/
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

*{
  border: 1px solid grey;

}

.center {
  text-align: center;
}
.connectIcons a{
  font-size: 2rem;
}

/* ----- Header Styles ---- */


img {
  max-width: 100%;
}
